@use "./breakpoints.scss" as breakpoints;

@media (max-width: breakpoints.$s) {
    .mobile {
        text-align: center;
    }
}

.scanContainer {
    position: absolute;
    right: 0;
    bottom: 0;
    pointer-events: none;
    z-index: 10;

    img {
        height: 360px;
        width: auto;
        display: none;
        opacity: 1;
        clip-path: inset(2px);
    }
}

:global([data-theme="light"]) .lightOnly {
    display: block !important;
}

:global([data-theme="dark"]) .darkOnly {
    display: block !important;
}

@media (max-width: breakpoints.$s) {
    .scanContainer {
        position: relative;
        right: auto;
        bottom: auto;
        margin-top: 32px;
        margin-bottom: 0;
        width: 100%;
        display: flex;
        justify-content: center;

        img {
            width: 100%;
            height: auto;
        }
    }
}